
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; /*Faz com que o PADDING seja anexado na largura e altura do elemento, e não somados*/
}

body{
    font: 400 14px Poppins, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*Melhora a visualização da fonte no Google Chrome*/
}

input, button, textarea {
    font: 400 18px Poppins, sans-serif;
}

button{
    cursor: pointer;
}

form input { 
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea { 
    width: 100%;
    min-height: 140px;
    color: #333;
    resize: vertical; /*Só pode aumentar verticalmente*/
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}


.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%); /*Propriedade se manipula o brilho do elemento*/
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link hover {
    opacity: 0.8;
}
